In [1]:
import pandas as pd
import numpy as np

In [27]:
data = pd.read_csv("data_latinoamerica.csv", sep=',')  #se carga el archivo csv

In [28]:
data.head()  #Se obtienen los primeros 5 datos de la tabla para verificar la información.

,location_key,date,country_code,country_name,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population,...,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate,new_recovered,cumulative_recovered
0,AR,2020-01-01,AR,Argentina,3.0,0.0,3.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
1,AR,2020-01-02,AR,Argentina,14.0,0.0,17.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
2,AR,2020-01-03,AR,Argentina,3.0,0.0,20.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
3,AR,2020-01-04,AR,Argentina,7.0,0.0,27.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN
4,AR,2020-01-05,AR,Argentina,5.0,0.0,32.0,0.0,NaN,44938712.0,...,15057273.0,2690269.0,55032.0,76.52,147.086,79.483,26.6,15.8,NaN,NaN

In [29]:
np.shape(data) #Aquí podemos obtener la información entre filas y columnas del archivo en el que trabajaremos.

(1037489, 50)

In [30]:
paises_seleccionados = ['Colombia', 'Argentina', 'Chile', 'Mexico', 'Peru', 'Brazil']  #Selección de países donde nos expandiremos
data_latinoamerica = data[data['country_name'].isin(paises_seleccionados)]

In [31]:
np.shape(data_latinoamerica) #Se reduce la información basandonos en la formula anterior.

(1027579, 50)

In [32]:
data_latinoamerica.isnull().sum()[data_latinoamerica.isnull().sum()>4000000]  #se realiza la Limpieza de datos

Series([], dtype: int64)

In [33]:
data_latinoamerica.shape

(1027579, 50)

In [34]:
data_latinoamerica_paises = data_latinoamerica[data_latinoamerica['location_key'].isin(['AR','CO','CL','PE','MX','BR'])]  #Se  cambia el formato a los paises para que  tengan las siglas internacionales

In [35]:
data_latinoamerica_paises.shape

(1982, 50)

In [36]:
data_latinoamerica_paises_Fecha = data_latinoamerica_paises[data_latinoamerica_paises['date']>'2021-01-01'] #Se realiza Filtrado de datos en fechas mayores al 2021-01-01

In [37]:
data_latinoamerica_paises_Fecha.shape

(1248, 50)

Realiza una limpieza preliminar de los datos, eliminando registros nulos y corrigiendo los tipos de datos donde sea necesario, trata con valores medios, valores anteriores o valores siguientes.

In [38]:
valores_nulos_fecha = data_latinoamerica_paises_Fecha.isnull().sum()[data_latinoamerica_paises_Fecha.isnull().sum()>0]  #Se hace Verificación de valores nulos en la BD
print(valores_nulos_fecha)
print(np.shape(data_latinoamerica_paises_Fecha))

new_confirmed                              6
new_deceased                               6
cumulative_confirmed                       6
cumulative_deceased                        6
cumulative_vaccine_doses_administered     21
average_temperature_celsius               13
minimum_temperature_celsius               12
maximum_temperature_celsius               12
rainfall_mm                               16
relative_humidity                         13
new_recovered                            627
cumulative_recovered                     627
dtype: int64
(1248, 50)

In [39]:
import warnings
warnings.filterwarnings("ignore")

En este código se obtiene el valor promedio de cada caso.

In [40]:
for pais in paises_seleccionados:
    data_latinoamerica_paises_Fecha['new_confirmed'] = data_latinoamerica_paises_Fecha['new_confirmed'].fillna(data_latinoamerica_paises_Fecha[data_latinoamerica_paises_Fecha['country_name']==pais]['new_confirmed'].mean())
    data_latinoamerica_paises_Fecha['new_deceased'] = data_latinoamerica_paises_Fecha['new_deceased'].fillna(data_latinoamerica_paises_Fecha[data_latinoamerica_paises_Fecha['country_name']==pais]['new_deceased'].mean())
    data_latinoamerica_paises_Fecha['cumulative_confirmed'] = data_latinoamerica_paises_Fecha['cumulative_confirmed'].fillna(data_latinoamerica_paises_Fecha[data_latinoamerica_paises_Fecha['country_name']==pais]['cumulative_confirmed'].mean())
    data_latinoamerica_paises_Fecha['cumulative_deceased'] = data_latinoamerica_paises_Fecha['cumulative_deceased'].fillna(data_latinoamerica_paises_Fecha[data_latinoamerica_paises_Fecha['country_name']==pais]['cumulative_deceased'].mean())
    data_latinoamerica_paises_Fecha['rainfall_mm'] = data_latinoamerica_paises_Fecha['rainfall_mm'].fillna(data_latinoamerica_paises_Fecha[data_latinoamerica_paises_Fecha['country_name']==pais]['rainfall_mm'].mean())
    data_latinoamerica_paises_Fecha['relative_humidity'] = data_latinoamerica_paises_Fecha['relative_humidity'].fillna(data_latinoamerica_paises_Fecha[data_latinoamerica_paises_Fecha['country_name']==pais]['relative_humidity'].mean())
    data_latinoamerica_paises_Fecha['average_temperature_celsius'] = data_latinoamerica_paises_Fecha['average_temperature_celsius'].fillna(data_latinoamerica_paises_Fecha[data_latinoamerica_paises_Fecha['country_name']==pais]['average_temperature_celsius'].mean())
    data_latinoamerica_paises_Fecha['minimum_temperature_celsius'] = data_latinoamerica_paises_Fecha['minimum_temperature_celsius'].fillna(data_latinoamerica_paises_Fecha[data_latinoamerica_paises_Fecha['country_name']==pais]['minimum_temperature_celsius'].mean())
    data_latinoamerica_paises_Fecha['maximum_temperature_celsius'] = data_latinoamerica_paises_Fecha['maximum_temperature_celsius'].fillna(data_latinoamerica_paises_Fecha[data_latinoamerica_paises_Fecha['country_name']==pais]['maximum_temperature_celsius'].mean())

data_latinoamerica_paises_Fecha['new_recovered'] = data_latinoamerica_paises_Fecha['new_recovered'].fillna(0)
data_latinoamerica_paises_Fecha['cumulative_recovered'] = data_latinoamerica_paises_Fecha['cumulative_recovered'].fillna(0)
data_latinoamerica_paises_Fecha['cumulative_vaccine_doses_administered'] = data_latinoamerica_paises_Fecha['cumulative_vaccine_doses_administered'].fillna(0)

In [41]:
data_latinoamerica_paises_Fecha.isna().sum()

location_key                             0
date                                     0
country_code                             0
country_name                             0
new_confirmed                            0
new_deceased                             0
cumulative_confirmed                     0
cumulative_deceased                      0
cumulative_vaccine_doses_administered    0
population                               0
population_male                          0
population_female                        0
population_rural                         0
population_urban                         0
population_density                       0
human_development_index                  0
population_age_00_09                     0
population_age_10_19                     0
population_age_20_29                     0
population_age_30_39                     0
population_age_40_49                     0
population_age_50_59                     0
population_age_60_69                     0
population_age_70_79                     0
population_age_80_and_older              0
gdp_usd                                  0
gdp_per_capita_usd                       0
latitude                                 0
longitude                                0
area_sq_km                               0
smoking_prevalence                       0
diabetes_prevalence                      0
infant_mortality_rate                    0
nurses_per_1000                          0
physicians_per_1000                      0
average_temperature_celsius              0
minimum_temperature_celsius              0
maximum_temperature_celsius              0
rainfall_mm                              0
relative_humidity                        0
population_largest_city                  0
area_rural_sq_km                         0
area_urban_sq_km                         0
life_expectancy                          0
adult_male_mortality_rate                0
adult_female_mortality_rate              0
pollution_mortality_rate                 0
comorbidity_mortality_rate               0
new_recovered                            0
cumulative_recovered                     0
dtype: int64

In [44]:
data_latinoamerica_paises_Fecha

,location_key,date,country_code,country_name,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population,...,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate,new_recovered,cumulative_recovered
367,AR,2021-01-02,AR,Argentina,7767.000000,166.000000,1.670634e+06,46688.000000,20334.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.520,147.086,79.483,26.6,15.8,0.0,0.0
368,AR,2021-01-03,AR,Argentina,4934.000000,157.000000,1.675568e+06,46845.000000,20529.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.520,147.086,79.483,26.6,15.8,0.0,0.0
369,AR,2021-01-04,AR,Argentina,13953.000000,157.000000,1.689521e+06,47002.000000,25164.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.520,147.086,79.483,26.6,15.8,0.0,0.0
370,AR,2021-01-05,AR,Argentina,14085.000000,160.000000,1.703606e+06,47162.000000,29852.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.520,147.086,79.483,26.6,15.8,0.0,0.0
371,AR,2021-01-06,AR,Argentina,14496.000000,131.000000,1.718102e+06,47293.000000,34162.0,44938712.0,...,15057273.0,2690269.0,55032.0,76.520,147.086,79.483,26.6,15.8,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550991,BR,2022-09-13,BR,Brazil,10420.000000,104.000000,3.454438e+07,685002.000000,347811286.0,212559409.0,...,21846507.0,8241430.0,134981.0,75.672,188.528,91.421,29.9,16.6,23313.0,33675124.0
550992,BR,2022-09-14,BR,Brazil,14525.000000,119.000000,3.455890e+07,685121.000000,347868481.0,212559409.0,...,21846507.0,8241430.0,134981.0,75.672,188.528,91.421,29.9,16.6,21500.0,33696624.0
550993,BR,2022-09-15,BR,Brazil,9931.000000,82.000000,3.456883e+07,685203.000000,347868481.0,212559409.0,...,21846507.0,8241430.0,134981.0,75.672,188.528,91.421,29.9,16.6,9607.0,33706231.0
550994,BR,2022-09-16,BR,Brazil,12911.385484,134.379032,6.079579e+06,105716.119355,0.0,212559409.0,...,21846507.0,8241430.0,134981.0,75.672,188.528,91.421,29.9,16.6,0.0,0.0
550995,BR,2022-09-17,BR,Brazil,12911.385484,134.379032,6.079579e+06,105716.119355,0.0,212559409.0,...,21846507.0,8241430.0,134981.0,75.672,188.528,91.421,29.9,16.6,0.0,0.0

In [21]:
print(data_latinoamerica_paises_Fecha.isnull().sum()[data_latinoamerica_paises_Fecha.isnull().sum()>0])
print(np.shape(data_latinoamerica_paises_Fecha))

Series([], dtype: int64)
(1248, 50)

In [22]:
data_latinoamerica_paises_Fecha.to_csv("DatosFinalesFiltrado.csv", index=False)

In [23]:
data_latinoamerica_paises = pd.read_csv("DatosFinalesFiltrado.csv", sep=',')

In [24]:
data_latinoamerica_paises.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248 entries, 0 to 1247
Data columns (total 50 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   location_key                           1248 non-null   object
 1   date                                   1248 non-null   object
 2   country_code                           1248 non-null   object
 3   country_name                           1248 non-null   object
 4   new_confirmed                          1248 non-null   float64
 5   new_deceased                           1248 non-null   float64
 6   cumulative_confirmed                   1248 non-null   float64
 7   cumulative_deceased                    1248 non-null   float64
 8   cumulative_vaccine_doses_administered  1248 non-null   float64
 9   population                             1248 non-null   float64
 10  population_male                        1248 non-null   float64
 11  population_female                      1248 non-null   float64
 12  population_rural                       1248 non-null   float64
 13  population_urban                       1248 non-null   float64
 14  population_density                     1248 non-null   float64
 15  human_development_index                1248 non-null   float64
 16  population_age_00_09                   1248 non-null   float64
 17  population_age_10_19                   1248 non-null   float64
 18  population_age_20_29                   1248 non-null   float64
 19  population_age_30_39                   1248 non-null   float64
 20  population_age_40_49                   1248 non-null   float64
 21  population_age_50_59                   1248 non-null   float64
 22  population_age_60_69                   1248 non-null   float64
 23  population_age_70_79                   1248 non-null   float64
 24  population_age_80_and_older            1248 non-null   float64
 25  gdp_usd                                1248 non-null   float64
 26  gdp_per_capita_usd                     1248 non-null   float64
 27  latitude                               1248 non-null   float64
 28  longitude                              1248 non-null   float64
 29  area_sq_km                             1248 non-null   float64
 30  smoking_prevalence                     1248 non-null   float64
 31  diabetes_prevalence                    1248 non-null   float64
 32  infant_mortality_rate                  1248 non-null   float64
 33  nurses_per_1000                        1248 non-null   float64
 34  physicians_per_1000                    1248 non-null   float64
 35  average_temperature_celsius            1248 non-null   float64
 36  minimum_temperature_celsius            1248 non-null   float64
 37  maximum_temperature_celsius            1248 non-null   float64
 38  rainfall_mm                            1248 non-null   float64
 39  relative_humidity                      1248 non-null   float64
 40  population_largest_city                1248 non-null   float64
 41  area_rural_sq_km                       1248 non-null   float64
 42  area_urban_sq_km                       1248 non-null   float64
 43  life_expectancy                        1248 non-null   float64
 44  adult_male_mortality_rate              1248 non-null   float64
 45  adult_female_mortality_rate            1248 non-null   float64
 46  pollution_mortality_rate               1248 non-null   float64
 47  comorbidity_mortality_rate             1248 non-null   float64
 48  new_recovered                          1248 non-null   float64
 49  cumulative_recovered                   1248 non-null   float64
dtypes: float64(46), object(4)
memory usage: 487.6+ KB

In [25]:
for (i) in data_latinoamerica_paises.columns:
    print(i)
    print(data_latinoamerica_paises[i].describe())
    print('--------------------------')

location_key
count     1248
unique       2
top         AR
freq       624
Name: location_key, dtype: object
--------------------------
date
count           1248
unique           624
top       2022-09-01
freq               2
Name: date, dtype: object
--------------------------
country_code
count     1248
unique       2
top         AR
freq       624
Name: country_code, dtype: object
--------------------------
country_name
count          1248
unique            2
top       Argentina
freq            624
Name: country_name, dtype: object
--------------------------
new_confirmed
count      1248.000000
mean      28005.434546
std       35877.074791
min        -573.000000
25%        4117.500000
50%       14291.000000
75%       37939.000000
max      298408.000000
Name: new_confirmed, dtype: float64
--------------------------
new_deceased
count    1248.000000
mean      459.866406
std       705.339182
min         0.000000
25%        39.000000
50%       176.000000
75%       501.500000
max      4249.000000
Name: new_deceased, dtype: float64
--------------------------
cumulative_confirmed
count    1.248000e+03
mean     1.428344e+07
std      1.008808e+07
min      1.670634e+06
25%      5.322766e+06
50%      9.579936e+06
75%      2.188185e+07
max      3.456883e+07
Name: cumulative_confirmed, dtype: float64
--------------------------
cumulative_deceased
count      1248.000000
mean     325163.809067
std      244464.160403
min       46688.000000
25%      116696.000000
50%      129830.000000
75%      609478.500000
max      685203.000000
Name: cumulative_deceased, dtype: float64
--------------------------
cumulative_vaccine_doses_administered
count    1.248000e+03
mean     1.234897e+08
std      1.305271e+08
min      0.000000e+00
25%      1.667256e+07
50%      4.257874e+07
75%      2.720485e+08
max      3.478685e+08
Name: cumulative_vaccine_doses_administered, dtype: float64
--------------------------
population
count    1.248000e+03
mean     1.287491e+08
std      8.384395e+07
min      4.493871e+07
25%      4.493871e+07
50%      1.287491e+08
75%      2.125594e+08
max      2.125594e+08
Name: population, dtype: float64
--------------------------
population_male
count    1.248000e+03
mean     6.197977e+07
std      4.247303e+07
min      1.952377e+07
25%      1.952377e+07
50%      6.197977e+07
75%      1.044358e+08
max      1.044358e+08
Name: population_male, dtype: float64
--------------------------
population_female
count    1.248000e+03
mean     6.435848e+07
std      4.378269e+07
min      2.059333e+07
25%      2.059333e+07
50%      6.435848e+07
75%      1.081236e+08
max      1.081236e+08
Name: population_female, dtype: float64
--------------------------
population_rural
count    1.248000e+03
mean     1.570351e+07
std      1.210922e+07
min      3.599141e+06
25%      3.599141e+06
50%      1.570351e+07
75%      2.780789e+07
max      2.780789e+07
Name: population_rural, dtype: float64
--------------------------
population_urban
count    1.248000e+03
mean     1.122906e+08
std      7.097948e+07
min      4.133957e+07
25%      4.133957e+07
50%      1.122906e+08
75%      1.832416e+08
max      1.832416e+08
Name: population_urban, dtype: float64
--------------------------
population_density
count    1248.000000
mean       20.973000
std         4.459787
min        16.515000
25%        16.515000
50%        20.973000
75%        25.431000
max        25.431000
Name: population_density, dtype: float64
--------------------------
human_development_index
count    1248.000000
mean        0.789500
std         0.035514
min         0.754000
25%         0.754000
50%         0.789500
75%         0.825000
max         0.825000
Name: human_development_index, dtype: float64
--------------------------
population_age_00_09
count    1.248000e+03
mean     1.789789e+07
std      1.118350e+07
min      6.718871e+06
25%      6.718871e+06
50%      1.789789e+07
75%      2.907691e+07
max      2.907691e+07
Name: population_age_00_09, dtype: float64
--------------------------
population_age_10_19
count    1.248000e+03
mean     1.910298e+07
std      1.206230e+07
min      7.045513e+06
25%      7.045513e+06
50%      1.910298e+07
75%      3.116045e+07
max      3.116045e+07
Name: population_age_10_19, dtype: float64
--------------------------
population_age_20_29
count    1.248000e+03
mean     2.026765e+07
std      1.384254e+07
min      6.430658e+06
25%      6.430658e+06
50%      2.026765e+07
75%      3.410464e+07
max      3.410464e+07
Name: population_age_20_29, dtype: float64
--------------------------
population_age_30_39
count    1.248000e+03
mean     2.012696e+07
std      1.435556e+07
min      5.777148e+06
25%      5.777148e+06
50%      2.012696e+07
75%      3.447676e+07
max      3.447676e+07
Name: population_age_30_39, dtype: float64
--------------------------
population_age_40_49
count    1.248000e+03
mean     1.698457e+07
std      1.248244e+07
min      4.507125e+06
25%      4.507125e+06
50%      1.698457e+07
75%      2.946201e+07
max      2.946201e+07
Name: population_age_40_49, dtype: float64
--------------------------
population_age_50_59
count    1.248000e+03
mean     1.416657e+07
std      1.025874e+07
min      3.911943e+06
25%      3.911943e+06
50%      1.416657e+07
75%      2.442120e+07
max      2.442120e+07
Name: population_age_50_59, dtype: float64
--------------------------
population_age_60_69
count    1.248000e+03
mean     9.905556e+06
std      6.994108e+06
min      2.914251e+06
25%      2.914251e+06
50%      9.905556e+06
75%      1.689686e+07
max      1.689686e+07
Name: population_age_60_69, dtype: float64
--------------------------
population_age_70_79
count    1.248000e+03
mean     5.309554e+06
std      3.493397e+06
min      1.817557e+06
25%      1.817557e+06
50%      5.309554e+06
75%      8.801551e+06
max      8.801551e+06
Name: population_age_70_79, dtype: float64
--------------------------
population_age_80_and_older
count    1.248000e+03
mean     2.576528e+06
std      1.583133e+06
min      9.940300e+05
25%      9.940300e+05
50%      2.576528e+06
75%      4.159027e+06
max      4.159027e+06
Name: population_age_80_and_older, dtype: float64
--------------------------
gdp_usd
count    1.248000e+03
mean     1.144711e+12
std      6.953259e+11
min      4.496634e+11
25%      4.496634e+11
50%      1.144711e+12
75%      1.839758e+12
max      1.839758e+12
Name: gdp_usd, dtype: float64
--------------------------
gdp_per_capita_usd
count     1248.000000
mean      9361.500000
std        644.758368
min       8717.000000
25%       8717.000000
50%       9361.500000
75%      10006.000000
max      10006.000000
Name: gdp_per_capita_usd, dtype: float64
--------------------------
latitude
count    1248.000000
mean      -24.000000
std        10.004009
min       -34.000000
25%       -34.000000
50%       -24.000000
75%       -14.000000
max       -14.000000
Name: latitude, dtype: float64
--------------------------
longitude
count    1248.000000
mean      -58.500000
std         5.502205
min       -64.000000
25%       -64.000000
50%       -58.500000
75%       -53.000000
max       -53.000000
Name: longitude, dtype: float64
--------------------------
area_sq_km
count    1.248000e+03
mean     5.648085e+06
std      2.868835e+06
min      2.780400e+06
25%      2.780400e+06
50%      5.648085e+06
75%      8.515770e+06
max      8.515770e+06
Name: area_sq_km, dtype: float64
--------------------------
smoking_prevalence
count    1248.000000
mean       17.850000
std         3.951583
min        13.900000
25%        13.900000
50%        17.850000
75%        21.800000
max        21.800000
Name: smoking_prevalence, dtype: float64
--------------------------
diabetes_prevalence
count    1248.000000
mean        8.150000
std         2.250902
min         5.900000
25%         5.900000
50%         8.150000
75%        10.400000
max        10.400000
Name: diabetes_prevalence, dtype: float64
--------------------------
infant_mortality_rate
count    1248.000000
mean       10.800000
std         2.000802
min         8.800000
25%         8.800000
50%        10.800000
75%        12.800000
max        12.800000
Name: infant_mortality_rate, dtype: float64
--------------------------
nurses_per_1000
count    1248.000000
mean        6.359300
std         3.761207
min         2.599600
25%         2.599600
50%         6.359300
75%        10.119000
max        10.119000
Name: nurses_per_1000, dtype: float64
--------------------------
physicians_per_1000
count    1248.000000
mean        3.077200
std         0.913266
min         2.164300
25%         2.164300
50%         3.077200
75%         3.990100
max         3.990100
Name: physicians_per_1000, dtype: float64
--------------------------
average_temperature_celsius
count    1248.000000
mean       22.535851
std         7.277329
min         3.432099
25%        16.760648
50%        24.944444
75%        27.836805
max        39.138889
Name: average_temperature_celsius, dtype: float64
--------------------------
minimum_temperature_celsius
count    1248.000000
mean       15.764582
std         8.376479
min        -5.383333
25%         9.170301
50%        17.975309
75%        22.694444
max        33.000000
Name: minimum_temperature_celsius, dtype: float64
--------------------------
maximum_temperature_celsius
count    1248.000000
mean       29.179444
std         6.081164
min         6.950617
25%        25.140432
50%        30.959877
75%        33.555556
max        41.944444
Name: maximum_temperature_celsius, dtype: float64
--------------------------
rainfall_mm
count    1248.000000
mean        0.990681
std         3.601392
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        38.749111
Name: rainfall_mm, dtype: float64
--------------------------
relative_humidity
count    1248.000000
mean       56.744832
std        15.740585
min        14.389440
25%        44.827779
50%        57.118114
75%        68.229093
max        94.582281
Name: relative_humidity, dtype: float64
--------------------------
population_largest_city
count    1.248000e+03
mean     1.845189e+07
std      3.395978e+06
min      1.505727e+07
25%      1.505727e+07
50%      1.845189e+07
75%      2.184651e+07
max      2.184651e+07
Name: population_largest_city, dtype: float64
--------------------------
area_rural_sq_km
count    1.248000e+03
mean     5.465850e+06
std      2.776693e+06
min      2.690269e+06
25%      2.690269e+06
50%      5.465850e+06
75%      8.241430e+06
max      8.241430e+06
Name: area_rural_sq_km, dtype: float64
--------------------------
area_urban_sq_km
count      1248.000000
mean      95006.500000
std       39990.525056
min       55032.000000
25%       55032.000000
50%       95006.500000
75%      134981.000000
max      134981.000000
Name: area_urban_sq_km, dtype: float64
--------------------------
life_expectancy
count    1248.00000
mean       76.09600
std         0.42417
min        75.67200
25%        75.67200
50%        76.09600
75%        76.52000
max        76.52000
Name: life_expectancy, dtype: float64
--------------------------
adult_male_mortality_rate
count    1248.000000
mean      167.807000
std        20.729307
min       147.086000
25%       147.086000
50%       167.807000
75%       188.528000
max       188.528000
Name: adult_male_mortality_rate, dtype: float64
--------------------------
adult_female_mortality_rate
count    1248.000000
mean       85.452000
std         5.971393
min        79.483000
25%        79.483000
50%        85.452000
75%        91.421000
max        91.421000
Name: adult_female_mortality_rate, dtype: float64
--------------------------
pollution_mortality_rate
count    1248.000000
mean       28.250000
std         1.650661
min        26.600000
25%        26.600000
50%        28.250000
75%        29.900000
max        29.900000
Name: pollution_mortality_rate, dtype: float64
--------------------------
comorbidity_mortality_rate
count    1248.00000
mean       16.20000
std         0.40016
min        15.80000
25%        15.80000
50%        16.20000
75%        16.60000
max        16.60000
Name: comorbidity_mortality_rate, dtype: float64
--------------------------
new_recovered
count      1248.000000
mean      21601.895833
std       35643.681902
min      -31119.000000
25%           0.000000
50%           0.000000
75%       33510.000000
max      282957.000000
Name: new_recovered, dtype: float64
--------------------------
cumulative_recovered
count    1.248000e+03
mean     1.053942e+07
std      1.193222e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      2.106411e+07
max      3.370623e+07
Name: cumulative_recovered, dtype: float64
--------------------------

In [26]:
def describir_datos(data):
    for i in data.columns:
        if data[i].dtype=='float64' or data[i].dtype=='int64':
            print(i)
            print('Mediana:',data[i].median())
            print('varianza:',data[i].var())
            print('Rango', data[i].max()-data[i].min())
            print("Moda",data[i].mode())
            print('-----------------------------------')

describir_datos(data_latinoamerica_paises)

new_confirmed
Mediana: 14291.0
varianza: 1287164495.5824454
Rango 298981.0
Moda 0    0.0
Name: new_confirmed, dtype: float64
-----------------------------------
new_deceased
Mediana: 176.0
varianza: 497503.3623209028
Rango 4249.0
Moda 0    0.0
Name: new_deceased, dtype: float64
-----------------------------------
cumulative_confirmed
Mediana: 9579936.0
varianza: 101769448448020.0
Rango 32898199.0
Moda 0     9313453.0
1     9341492.0
2     9367172.0
3     9394326.0
4     9426171.0
5     9465827.0
6     9507562.0
7     9560307.0
8     9602534.0
9     9633732.0
10    9658391.0
11    9678225.0
12    9689861.0
Name: cumulative_confirmed, dtype: float64
-----------------------------------
cumulative_deceased
Mediana: 129830.0
varianza: 59762725721.7333
Rango 638515.0
Moda 0     128994.0
1     129016.0
2     129070.0
3     129109.0
4     129145.0
5     129202.0
6     129278.0
7     129369.0
8     129440.0
9     129566.0
10    129646.0
11    129711.0
12    129769.0
Name: cumulative_deceased, dtype: float64
-----------------------------------
cumulative_vaccine_doses_administered
Mediana: 42578735.0
varianza: 1.703731228004212e+16
Rango 347868481.0
Moda 0    0.0
Name: cumulative_vaccine_doses_administered, dtype: float64
-----------------------------------
population
Mediana: 128749060.5
varianza: 7029807374164341.0
Rango 167620697.0
Moda 0     44938712.0
1    212559409.0
Name: population, dtype: float64
-----------------------------------
population_male
Mediana: 61979774.5
varianza: 1803958137028537.5
Rango 84912017.0
Moda 0     19523766.0
1    104435783.0
Name: population_male, dtype: float64
-----------------------------------
population_female
Mediana: 64358478.0
varianza: 1916924176398120.5
Rango 87530296.0
Moda 0     20593330.0
1    108123626.0
Name: population_female, dtype: float64
-----------------------------------
population_rural
Mediana: 15703513.5
varianza: 146633328272821.03
Rango 24208745.0
Moda 0     3599141.0
1    27807886.0
Name: population_rural, dtype: float64
-----------------------------------
population_urban
Mediana: 112290606.0
varianza: 5038086295692773.0
Rango 141902070.0
Moda 0     41339571.0
1    183241641.0
Name: population_urban, dtype: float64
-----------------------------------
population_density
Mediana: 20.973
varianza: 19.889701260625504
Rango 8.916
Moda 0    16.515
1    25.431
Name: population_density, dtype: float64
-----------------------------------
human_development_index
Mediana: 0.7895
varianza: 0.0012612606255012011
Rango 0.07099999999999995
Moda 0    0.754
1    0.825
Name: human_development_index, dtype: float64
-----------------------------------
population_age_00_09
Mediana: 17897890.5
varianza: 125070693883530.52
Rango 22358039.0
Moda 0     6718871.0
1    29076910.0
Name: population_age_00_09, dtype: float64
-----------------------------------
population_age_10_19
Mediana: 19102979.5
varianza: 145499084203272.3
Rango 24114933.0
Moda 0     7045513.0
1    31160446.0
Name: population_age_10_19, dtype: float64
-----------------------------------
population_age_20_29
Mediana: 20267650.5
varianza: 191615899826327.34
Rango 27673985.0
Moda 0     6430658.0
1    34104643.0
Name: population_age_20_29, dtype: float64
-----------------------------------
population_age_30_39
Mediana: 20126955.0
varianza: 206082090817711.9
Rango 28699614.0
Moda 0     5777148.0
1    34476762.0
Name: population_age_30_39, dtype: float64
-----------------------------------
population_age_40_49
Mediana: 16984565.5
varianza: 155811370285435.62
Rango 24954881.0
Moda 0     4507125.0
1    29462006.0
Name: population_age_40_49, dtype: float64
-----------------------------------
population_age_50_59
Mediana: 14166572.5
varianza: 105241754511205.52
Rango 20509259.0
Moda 0     3911943.0
1    24421202.0
Name: population_age_50_59, dtype: float64
-----------------------------------
population_age_60_69
Mediana: 9905556.5
varianza: 48917549348616.0
Rango 13982611.0
Moda 0     2914251.0
1    16896862.0
Name: population_age_60_69, dtype: float64
-----------------------------------
population_age_70_79
Mediana: 5309554.0
varianza: 12203821751335.39
Rango 6983994.0
Moda 0    1817557.0
1    8801551.0
Name: population_age_70_79, dtype: float64
-----------------------------------
population_age_80_and_older
Mediana: 2576528.5
varianza: 2506309763530.72
Rango 3164997.0
Moda 0     994030.0
1    4159027.0
Name: population_age_80_and_older, dtype: float64
-----------------------------------
gdp_usd
Mediana: 1144710743859.5
varianza: 4.8347814729725874e+23
Rango 1390094593811.0
Moda 0    4.496634e+11
1    1.839758e+12
Name: gdp_usd, dtype: float64
-----------------------------------
gdp_per_capita_usd
Mediana: 9361.5
varianza: 415713.35364875704
Rango 1289.0
Moda 0     8717.0
1    10006.0
Name: gdp_per_capita_usd, dtype: float64
-----------------------------------
latitude
Mediana: -24.0
varianza: 100.08019246190858
Rango 20.0
Moda 0   -34.0
1   -14.0
Name: latitude, dtype: float64
-----------------------------------
longitude
Mediana: -58.5
varianza: 30.274258219727347
Rango 11.0
Moda 0   -64.0
1   -53.0
Name: longitude, dtype: float64
-----------------------------------
area_sq_km
Mediana: 5648085.0
varianza: 8230211980363.111
Rango 5735370.0
Moda 0    2780400.0
1    8515770.0
Name: area_sq_km, dtype: float64
-----------------------------------
smoking_prevalence
Mediana: 17.85
varianza: 15.615012028869288
Rango 7.9
Moda 0    13.9
1    21.8
Name: smoking_prevalence, dtype: float64
-----------------------------------
diabetes_prevalence
Mediana: 8.15
varianza: 5.066559743384122
Rango 4.5
Moda 0     5.9
1    10.4
Name: diabetes_prevalence, dtype: float64
-----------------------------------
infant_mortality_rate
Mediana: 10.8
varianza: 4.003207698476343
Rango 4.0
Moda 0     8.8
1    12.8
Name: infant_mortality_rate, dtype: float64
-----------------------------------
nurses_per_1000
Mediana: 6.3593
varianza: 14.146679570425016
Rango 7.519399999999999
Moda 0     2.5996
1    10.1190
Name: nurses_per_1000, dtype: float64
-----------------------------------
physicians_per_1000
Mediana: 3.0772
varianza: 0.8340547230793905
Rango 1.8258
Moda 0    2.1643
1    3.9901
Name: physicians_per_1000, dtype: float64
-----------------------------------
average_temperature_celsius
Mediana: 24.944444
varianza: 52.9595241036219
Rango 35.70679
Moda 0    17.180877
Name: average_temperature_celsius, dtype: float64
-----------------------------------
minimum_temperature_celsius
Mediana: 17.9753085
varianza: 70.16540177274601
Rango 38.383333
Moda 0    23.0
Name: minimum_temperature_celsius, dtype: float64
-----------------------------------
maximum_temperature_celsius
Mediana: 30.9598765
varianza: 36.98055136954173
Rango 34.993826999999996
Moda 0    33.0
Name: maximum_temperature_celsius, dtype: float64
-----------------------------------
rainfall_mm
Mediana: 0.0
varianza: 12.970025723138878
Rango 38.749111
Moda 0    0.0
Name: rainfall_mm, dtype: float64
-----------------------------------
relative_humidity
Mediana: 57.118114000000006
varianza: 247.76600599749062
Rango 80.19284099999999
Moda 0    57.165769
Name: relative_humidity, dtype: float64
-----------------------------------
population_largest_city
Mediana: 18451890.0
varianza: 11532665494553.225
Rango 6789234.0
Moda 0    15057273.0
1    21846507.0
Name: population_largest_city, dtype: float64
-----------------------------------
area_rural_sq_km
Mediana: 5465849.5
varianza: 7710025016641.0205
Rango 5551161.0
Moda 0    2690269.0
1    8241430.0
Name: area_rural_sq_km, dtype: float64
-----------------------------------
area_urban_sq_km
Mediana: 95006.5
varianza: 1599242094.235766
Rango 79949.0
Moda 0     55032.0
1    134981.0
Name: area_urban_sq_km, dtype: float64
-----------------------------------
life_expectancy
Mediana: 76.096
varianza: 0.17992016680032033
Rango 0.847999999999999
Moda 0    75.672
1    76.520
Name: life_expectancy, dtype: float64
-----------------------------------
adult_male_mortality_rate
Mediana: 167.80700000000002
varianza: 429.70415522694424
Rango 41.44199999999998
Moda 0    147.086
1    188.528
Name: adult_male_mortality_rate, dtype: float64
-----------------------------------
adult_female_mortality_rate
Mediana: 85.452
varianza: 35.65753274097837
Rango 11.938000000000002
Moda 0    79.483
1    91.421
Name: adult_female_mortality_rate, dtype: float64
-----------------------------------
pollution_mortality_rate
Mediana: 28.25
varianza: 2.724683239775457
Rango 3.299999999999997
Moda 0    26.6
1    29.9
Name: pollution_mortality_rate, dtype: float64
-----------------------------------
comorbidity_mortality_rate
Mediana: 16.200000000000003
varianza: 0.160128307939054
Rango 0.8000000000000007
Moda 0    15.8
1    16.6
Name: comorbidity_mortality_rate, dtype: float64
-----------------------------------
new_recovered
Mediana: 0.0
varianza: 1270472059.5512898
Rango 314076.0
Moda 0    0.0
Name: new_recovered, dtype: float64
-----------------------------------
cumulative_recovered
Mediana: 0.0
varianza: 142377851540493.0
Rango 33706231.0
Moda 0    0.0
Name: cumulative_recovered, dtype: float64
-----------------------------------